*{
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
        
}
#topwelcome{
display: flex;
height: auto;
width: 100%;
background-color: #a0f2fd;
font-weight: 500;
text-align: center;
justify-content: center;
font-size: larger;

}
#intro{
    text-align: center;
    vertical-align: middle;
    font-family: 'Young Serif', serif;
    font-weight: bold;
    padding-top: 15px;
    color:#001F3F;
    overflow: hidden;
}
h1 .h1color {
    color: #87CEEB;
}


.img{
    align-items: center;
    display: block;
    text-align: center;
    padding-top: 20px;
}
.h1{
    overflow: hidden;
}
#cbody{
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    overflow: hidden;
}

a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: blue;
    text-decoration: none;
} 
a:active {
    color: black;
    text-decoration: none;
}

#aboutus{
    text-align: justify;
    padding: 10px;
    width: 75%;
    margin: auto;
}

#lib{
    text-align: center;
    padding: 10px;
    width: 80%;
    margin: auto;
}